.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.FilterContainer {
  width: 22%;
  margin-right: 100px;
  position: sticky;
  top: 2rem;
  align-self: flex-start;
}

.DataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: fit-content;
  box-sizing: border-box;
  overflow: hidden;
  background-color: var(--secondary);
  padding: 44px;
  padding-top: 10px;
  border-radius: 12px;
  min-width: 45vw;
}

.TableContainer {
  background-color: var(--tertiary);
  padding: 26px;
  border-radius: 12px;
  flex: 1;
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.TitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 26px;
}

.InfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.Title {
  font-size: 36px;
  font-weight: 800;
  color: var(--text-dark);
}

.ButtonContainer {
  background-color: var(--info);
  color: var(--text-dark);
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ButtonContainer:hover {
  background-color: var(--info-hover);
}

.NoData {
  font-size: 40px;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

@media (max-width: 1920px) {
  .FilterContainer {
    margin-right: 67px;
  }

  .DataContainer {
    padding: 20px 30px;
    padding-top: 0;
  }

  .TableContainer {
    padding: 18px;
  }

  .TitleContainer {
    margin-bottom: 18px;
  }

  .InfoContainer {
    gap: 14px;
  }

  .ButtonContainer {
    font-size: 18px;
    padding: 8px 16px;
  }

  .Title {
    font-size: 28px;
  }

  .NoData {
    font-size: 28px;
  }
}
