.Wrapper {
  display: flex;
  justify-content: center;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  overflow: hidden;

  background-color: var(--secondary);
  padding: 44px;
  border-radius: 12px;
}

.TableContainer {
  background-color: var(--tertiary);
  padding: 26px;
  border-radius: 12px;
  flex: 1;
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.TitleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 26px;
}

.Title {
  font-size: 32px;
  font-weight: 800;
  color: var(--text-dark);
}

.ButtonContainer {
  background-color: var(--info);
  color: var(--text-dark);
  padding: 10px 20px;
  border-radius: 12px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ButtonContainer:hover {
  background-color: var(--info-hover);
}

@media (max-width: 1920px) {
  .Container {
    padding: 30px;
    border-radius: 10px;
  }

  .TableContainer {
    padding: 18px;
    border-radius: 10px;
  }

  .TitleContainer {
    margin-bottom: 18px;
  }

  .Title {
    font-size: 24px;
  }

  .ButtonContainer {
    font-size: 16px;
    padding: 6px 14px;
    border-radius: 10px;
  }
}
