@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
:root {
  --primary: #0d0d0d;
  --secondary: #c8fee6;
  --tertiary: #bcf0d8;
  --tertiary-hover: #aee6cc;

  --text-light: #f7f7f7;
  --text-dark: #0d0d0d;

  --filter-option: #7eb8d9;
  --filter-option-hover: #6fbb97;

  --filter-option-selected: #4f86a6;
  --filter-option-selected-hover: #438d6a;

  --item-pill: #74c69d;
  --item-pill-hover: #63bb8c;

  --item-pill-selected: #40916c;
  --item-pill-selected-hover: #2d7d5a;

  --user-pill: #7eb8d9;
  --user-pill-hover: #6ca9cc;

  --user-pill-selected: #4f86a6;
  --user-pill-selected-hover: #3f7392;

  --success: #32c766;
  --success-hover: #26a854;

  --error: #e45757;
  --error-hover: #c74545;

  --info: #c6e3fc;
  --info-hover: #a4c8e8;
}

body {
  background-color: var(--primary) !important;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Inter", sans-serif;
}
html,
body {
  overflow: hidden;
  height: 100%;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
